<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="fCon" providerName="System.Data.SqlClient" connectionString="data source=LAPTOP-I13SAJU4;initial catalog=footballLeague;integrated security=true"/>
	</connectionStrings>
</configuration>